﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link type="text/css" href="style.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper" data-ng-app="app" data-ng-controller="PerfCountersCtl">
        <div class="up-panel">
            <div id="updateDate">
                <span>Last Update</span>
                <span data-ng-model="lastUpdate">{{getLastUpdate()}}</span>
            </div>
        </div>
        <div class="left-panel">
            <div data-ng-repeat="section in counterSections">
                <a class="btnSection" href="javascript:void(0)" data-ng-click="setCounterVisible(section)">{{section}}</a>
            </div>
        </div>
        <div id="body-right">
            <div class="counter-grid" data-ng-repeat="name in visibleCounters">
                <div class="title">
                    <span>{{name}}</span><a href="javascript:void(0)" data-ng-click="showAllColumns(name)">show all</a>
                    <img title="Close counter" class="close" src="images/close.png" data-ng-click="removeCounter(name)"/>
                </div>
                <table class="counter-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th data-ng-repeat="col in visibleData[name][0].columns"><a href="javascript:void(0)" data-ng-click="hideColumn(name,col)" title="Hide column">{{col}}</a></th>
                            </tr>
                        </thead>
                        <tr data-ng-repeat="cnt in visibleData[name]">
                            <td class="name-col">{{cnt.name}}</td>
                            <td data-ng-repeat="val in cnt.values">{{val.value}}</td>
                        </tr>
                  </table>
             </div>            
        </div>
    </div>
    <script type="text/javascript" src="../Scripts/jquery-1.9.1.min.js"></script>
    <script src="../Scripts/jquery.signalR-1.1.2.js"></script>
    <script src="../Scripts/angular.js"></script>
    <script type="text/javascript" src="factory.js"></script>
    <script type="text/javascript" src="controller.js"></script>
</body>
</html>
