﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
    <body>
        <div data-ng-app="app" data-ng-controller="PerfCountersCtl">
            <div id="counters">
                Counter sections: <select data-ng-model="currentCounterName" data-ng-options="section for section in counterSections"></select>
                <input type="button" value="Add" data-ng-click="setCounterVisible(currentCounterName)"/>
                <input type="button" value="Save config"/>
            </div>
            <div>
                <span>{{lastUpdate}}</span>
            </div>
            <div data-ng-repeat="name in visibleCounters">
                <h1>{{name}}</h1><input type="button" value="Remove" data-ng-click="removeCounter(name)"/>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th data-ng-repeat="col in visibleData[name][0].columns">{{col}}</th>
                        </tr>
                    </thead>
                    <tr data-ng-repeat="cnt in visibleData[name]">
                        <td>{{cnt.name}}</td>
                        <td data-ng-repeat="val in cnt.values">{{val.value}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <script type="text/javascript" src="../Scripts/jquery-1.9.1.min.js"></script>
        <script src="../Scripts/jquery.signalR-1.1.2.js"></script>
        <script src="../Scripts/angular.js"></script>
        <script type="text/javascript" src="factory.js"></script>
        <script type="text/javascript" src="controller.js"></script>
    </body>
</html>
