﻿body, html {
    height: 97%;
}

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}


.wrapper {
    width: 100%;
    height: 97%;
    margin: 0px 0px 0px 0px;
    min-height: 650px;
}

.left-panel {
    width: 305px;
    height: 100%;
    border-right: 1px solid black;
    border-top: none;
    margin-top: 0px;
    float: left;
}

.left-panel div {
    padding-left: 7px;
}

.up-panel {
    height: 80px;
    width: 100%;
    background-color: black;
    border-bottom: none;
    margin: 0px;
}

.grid-panel {
    margin: 0px;
}

.btnSection {
    color: black;
    font-size: 12px;
    font-family: sans-serif;
    text-decoration: none;
}

.btnSection:hover {
    text-decoration: underline;
}

#body-right {
    height: 100%;
    margin-left: 305px;
    overflow-x: hidden;
    overflow-y: auto;  
}

#updateDate {
    color: white;
    float: right;
    margin-top: 50px;
    margin-right: 14px;
}

.counter-grid {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    border: 2px inset;
}

.counter-grid img.close {
    cursor: pointer;
    float: right;
}

.counter-grid div.title {
    width: 100%;
    background-color: gray;
    color: white;
}

.counter-grid table.counter-table {
    font-size: 12px;
    font-family: sans-serif;
    width: 100%;
    border-collapse:collapse;
}

.counter-grid table.counter-table th {
    border: 1px solid gray;
    margin: 0px;
}

.counter-grid table.counter-table th a{
    color: black;
    text-decoration: none;
}

.counter-grid table.counter-table th a:hover{
    color: red;
    text-decoration: underline;
}

.counter-grid table.counter-table td {
    border: 1px solid gray;
    text-align: center;
    vertical-align: middle;
    margin: 0px;
}

.counter-grid table.counter-table td.name-col {
    border: 1px solid gray;
    text-align: left;
    vertical-align: middle;
    min-width: 200px;
}

.counter-grid div.title a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
}

.counter-grid div.title a:hover {
    text-decoration: underline;
    color: red;
}