﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div data-ng-app data-ng-controller="TestCntl">
        <input type="button" value="Try" data-ng-click="tryData()"/>
        <div data-ng-repeat="counter in counters">
            <h1>{{counter.name}}</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="cnt in counter.counters">
                        <td>{{cnt.Name}}</td>
                        <td>{{cnt.Value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="../Scripts/angular.js"></script>
    <script type="text/javascript" src="controller.js"></script>
</body>
</html>
